<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos del product</title>
</head>
<body>
<h1>Datos de la product </h1>
<a th:href="@{/}">Regresar</a>;
<br/>
<img th:src="@{'/recursos/' + ${product.image}}"
th:alt="${product.image}"
style="max-width: 25%">
<ul >
    <li  th:text="'NAme DEL PRODUCT:' +${product.name}"></li>
    <li  th:text="'CODE DEL PRODUCT:' +${product.code}"></li>
    <li  th:text="'QUANTITY DEL PRODUCTO:' +${product.quantity}"></li>
    <li  th:text="'REFERENCE DEL PRODUCTO:' +${product.reference}"></li>

</ul>

</body>
</html>